{{#if job.isNew}}
<form class="p-4 bg-white border" action="/postjob" method="POST">
<h1>Create</h1>
	{{else}}
	<form class="p-4 bg-white border" action="/postjob/{{jobs.id}}/edit" method="POST">
		{{/if}}
		<div class="form-group">
			<label for="title">Title:</label>
			<input type="text" class="form-control" name="title" id="title" value="{{jobs.title}}">
		</div>

		<div class="form-group">
			<label for="category">Category:</label>
			<input type="text" class="form-control" name="category" id="category" value="{{jobs.category}}">
		</div>
		<div class="form-group">
			<label for="jobtype">Tipo de trabajo</label>
			<input type="text" name="jobtype" class="form-control" id="jobtype" value="{{jobs.jobtype}}">
		</div>

		<div class="form-group">
			<label for="region">Región:</label>
			<input type="text" class="form-control" name="region" id="region" value="{{jobs.region}}">
		</div>

        <div class="form-group">
			<label for="salary">Salario:</label>
			<input type="number" class="form-control" name="salary" id="salary" value="{{jobs.salary}}">
		</div>

        <div class="form-group">
			<label for="apply">Candidatarse:</label>
			<input type="text" class="form-control" name="apply" id="apply" value="{{jobs.apply}}">
		</div>

        <div class="form-group">
			<label for="jobDes">Descripción del puesto:</label>
			<input type="text" class="form-control" name="jobDes" id="jobDes" value="{{jobs.jobDes}}">
		</div>
        

		{{!-- <div class="form-group">
			<label for="ta">TA:</label>
			<select name="ta" id="ta" class="custom-select">
				{{#each tas as |ta|}}
				<option value="{{ta.id}}" {{#equals ta.id ../student.ta}}selected{{/equals}}>
					{{ta.fullname}}</option>
				{{/each}}
			</select>
		</div> --}}

		<button type="submit" class="btn btn-success">Publicar</button>
	</form>