<a href="/postjob/{{ job.id }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ job.title }}</h5>
        <small>{{ job.author }}</small>
    </div>
    <p class="mb-1">{{ job.category }}</p>
    <p class="mb-1">{{ job.jobtype }}</p>
    <p class="mb-1">{{ job.region }}</p>
    <p class="mb-1">{{ job.salary }}</p>
    <p class="mb-1">{{ job.jobDes }}</p>
</a>